#selected_column {
  background-color: #83A67F;
}

.Columnview {
  background-color: #83A67F;
}

#column {
  background-color: #C5D2C8;
  color: grey;
}

#shadow_column {
  background-color: #5D7555;
}


